/* I stored the colours in variables for easier access */
:root {
  --mint: #00bfae;
  --Lighter: #00a68c;
  --darker: #006d5d;
}

/* The body */

body {
  background-color: var(--bg-primary);
  font-family: "Lato", sans-serif;
  color: var(--text-primary);
  margin: 0;
  padding: 0;
}

/* Navbar */

header {
  background-color: var(--bg-primary);
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-brand img {
  width: 120px;
}

.navbar-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar-links ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links .nav-link {
  text-decoration: none;
  color: var(--text-primary);
}

.navbar-links .nav-link:hover {
  color: var(--mint);
}

.fas {
  color: var(--text-primary);
  font-size: 20px;
}

/* Search bar */

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 8px 16px;
  background-color: var(--text-primary);
  border: 2px solid var(--mint);
  color: var(--text-primary);
  border-radius: 25px;
  outline: none;
  font-size: 1rem;
}

.search-bar input::placeholder {
  color: black;
}

.search-bar input:focus {
  border-color: var(--mint);
}

/* Hero (Intro Title) */

.hero {
  background-color: var(--bg-primary);
  padding: 60px 20px;
  text-align: center;
}
.hero-content h1 {
  color: var(--text-primary);
  font-family: "Montserrat", sans-serif;
}

.hero-content p {
  color: var(--text-primary);
}

/* Buttons in Hero */

.btn-order {
  background-color: var(--mint);
  color: var(--text-primary);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn-order:hover {
  background-color: var(--Lighter);
}

/* Titles */

.section-title {
  text-align: center;
  color: var(--text-primary);
  font-family: "Montserrat", sans-serif;
  margin-bottom: 30px;
}

.container {
  padding-bottom: 2%;
}

/* Products */

.product-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.product {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  border-radius: 8px;
  overflow: hidden;
  padding-right: 5%;
}

.product:nth-child(1) {
  padding-left: 5%;
}

.product-img {
  width: 100%;
  height: auto;
}

.product-body {
  padding: 15px;
}

.product-title {
  font-size: 1.2rem;
  color: var(--text-primary);
}

.product-price {
  font-size: 1rem;
  color: var(--text-primary);
  margin-bottom: 15px;
}

.product input[type="submit"] {
  background-color: var(--Lighter); /* Light mint */
  color: var(--bg-primary);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.product input[type="submit"]:hover {
  background-color: var(--darker); /* Darker mint */
}

/* Categories */

.category-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.category {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  padding-right: 5%;
}

.category:nth-child(1) {
  padding-left: 5%;
}

.category-img {
  width: 100%;
  height: auto;
}

.category-title {
  color: var(--text-primary);
  padding: 10px;
}

.category a:hover .category-title,
.product:hover .product-title {
  color: var(--mint); /* Mint green */
}
