body{
  background-color: black;
  font-family: 'Lato', sans-serif;
  color: lightgrey;
  margin: 0;
  padding: 0;
}

header{
  background-color: black;
  padding: 10px 0;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-brand img{
  width: 120px;
}

.navbar-links{
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.navbar-links ul{
  list-style: none;
  padding: 0;
  display: flex;
}

.navbar-links li{
  margin: 0 15px;
}

.navbar-links .nav-link{
  text-decoration: none;
  color: lightgrey;
}

.navbar-links .nav-link:hover{
  color: #00bfae;
}

.search-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 8px 16px;
  background-color: #f0f8ff;
  border: 2px solid #00bfae;
  color: black;
  border-radius: 25px;
  outline: none;
  font-size: 1rem;
}

.search-bar input::placeholder{
  color: lightgray;
}

.search-bar input:focus{
  border-color: #00bfae;
}

.fas{
  color: lightgrey;
  font-size: 20px;
}

.hero {
  background-color: black;
  padding: 60px 20px;
  text-align: center;
}
.hero-content h1{
  color: lightgrey;
  font-family: 'Montserrat', sans-serif;
}

.hero-content p{
  color: lightgrey;
}

.btn-order{
  background-color: #00bfae;
  color: lightgrey;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn-order:hover{
  background-color: #00a68c;
}

.section-title {
  text-align: center;
  color: lightgrey;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 30px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.product {
  background-color: black;
  color: lightgrey;
  border-radius: 8px;
  overflow: hidden;
}

.product-img {
  width: 100%;
  height: auto;
}

.product-body {
  padding: 15px;
}

.product-title {
  font-size: 1.2rem;
  color: lightgrey;
}

.product-price {
  font-size: 1rem;
  color: lightgrey;
  margin-bottom: 15px;
}

.product input[type="submit"] {
  background-color: #f0f8ff; /* Light mint */
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.product input[type="submit"]:hover {
  background-color: #00a68c; /* Darker mint */
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.category {
  background-color: black;
  color: lightgrey;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}

.category-img {
  width: 100%;
  height: auto;
}

.category-title {
  color: lightgrey;
  padding: 10px;
}

.category a:hover .category-title,
.product:hover .product-title {
  color: #00bfae; /* Mint green */
}
