@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Lato:wght@400;700&display=swap');
body{
  background-color: black;
  font-family: 'Lato', sans-serif;
  color: lightgrey;
  margin: 0;
  padding: 0;
}

header{
  background-color: black;
  padding: 10px 0;
}

nav .navbar-brand img{
  width: 120px;
}

.navbar-nav .nav-link{
  color: lightgrey;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.navbar-nav .nav-link:hover{
  color: #00bfae;
}

.bg-warning{
  background-color: #00bfae;
}

h1, h2{
  font-family: 'Montserrat', sans-serif;
  color: lightgrey;
}

p{
  color: lightgrey;
}

a.btn{
  background-color: #00bfae;
  color: lightgrey;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

a.btn:hover{
  background-color: #00a68c;
}

.card{
  border: none;
  background-color: black;
  color: lightgrey
}

.card-body{
  background-color: black;
}

.card-title, .card-text{
  color: lightgrey;
}

input[type="submit"].btn-warning{
  background-color: #f0f8ff;
  color: black;
}

input[type="submit"].btn-warning:hover{
  background-color: #00a68c;
}

h5{
  color: lightgrey;
  text-align:center;
}

.col-md-4{
  color: lightgrey;
}

.col-md-4:hover{
  color: #00bfae;
}
