.footer {
    display: none !important;
    width: 100%;
    position: absolute !important;
    bottom: 0 !important;
}

.construct-mid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.construct-mid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: rotate(15deg);
}

.construct-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.construct-layer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
